$clr-warning: var(--clr-warning);
$clr-primary: var(--clr-primary);
$clr-danger: var(--clr-danger);
$clr-success: var(--clr-success);
$clr-pink: var(--clr-pink);
$clr-warning-a: var(--clr-warning-a);
$clr-primary-a: var(--clr-primary-a);
$clr-danger-a: var(--clr-danger-a);
$clr-success-a: var(--clr-success-a);
$clr-pink-a: var(--clr-pink-a);
$clr-dark: var(--clr-dark);
$clr-bg: var(--clr-bg);
$clr-bg-l: var(--clr-bg-l);
$clr-white: var(--clr-white);
$clr-white-l: var(--clr-white-l);
$clr-light: var(--clr-light);
$clr-text-muted: var(--clr-text-muted);
$bs: var(--bs);

$color-bg: var(--color-bg);
$color-bg-variant: var(--color-bg-variant);
$color-primary: var(--color-primary);
$color-primary-variant: var(--color-primary-variant);
$color-light: var(--color-light);
