@import "variables";

header {
  background-color: $clr-dark;
  border-bottom: 1px solid $clr-text-muted;
  position: sticky;
  top: 0;
  z-index: 100;
  color: $clr-light;
  .container-x {
    padding: 10px 0;
  }
  .nav_links a {
    padding: 5px 10px;
    word-wrap: normal;
    color: #fff;
  }
  .nav_links a:hover {
    color: $clr-danger;
  }
  .nav_links a.active {
    color: $clr-danger;
  }

  a {
    text-transform: capitalize;
  }

  .favourite {
    position: relative;
  }
  .favourite-count {
    background-color: $clr-danger;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 1rem;
    font-size: smaller;
    font-weight: bold;
    padding: 1px 5px;
  }
}

// Welcome page
.welcome_hero {
  background-color: $clr-dark;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  color: $clr-light;

  .container-x {
    height: calc(100vh - 62px);
  }
}

// Main hero
.hero-main {
  background-color: $clr-dark;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  padding: 50px 0;
  color: $clr-light;

  .content {
    margin-bottom: 50px;
  }
  h1 {
    line-height: 1.1;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
  }
  .content > div {
    flex-basis: 45%;
  }
  .content-image {
    text-align: center;
  }
  img {
    transform: scale(1.7) translateY(1rem);
  }
}

// Main Home books
.category__container,
.home-books-main .items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px 0;
}
.main_book_item {
  &:hover {
    opacity: 0.88;
  }

  .container {
    min-height: 100px;
    background: $clr-warning;
    border-radius: 5px;
    position: relative;
    border: 2px solid transparent;
    text-align: center;
  }

  .footer-btns {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    gap: 1rem;
  }

  a {
    color: $clr-white;
    padding: 0.5rem 0 1.5rem;
    width: 100%;
    font-size: 1.2rem;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
      color: $clr-danger;
    }
  }
  .book-btn {
    width: 30px;
    height: 30px;
    background-color: $clr-text-muted;
  }
  .add-favorite {
    border-radius: 0 1rem 0 0;
  }
  .react-to {
    border-radius: 1rem 0 0 0;
  }
  .book-title {
  }
  .container.favorite {
    border-color: $clr-danger;
    box-shadow: $bs;
  }
  .container.favorite .add-favorite {
    background-color: $clr-danger;
  }
  .container.react .react-to {
    background-color: transparent;
    color: $clr-danger;
    font-size: 23px;
    padding-top: 5px;
  }
}
// About us
.about-us .mini-hero {
  padding: 1.5rem 0;
}
/**
  Actions on Books
  container + favorite
  container + marked
*/
// Reg Forms
.default-reg-template .nav {
  background-color: $clr-dark;
  color: $clr-light;
  border-bottom: 2px solid $clr-text-muted;
  position: sticky;
  top: 0;
  z-index: 100;

  a {
    color: $clr-light;
  }
}
.reg-form-data {
  width: 100%;
  max-width: 550px;
  padding: 1.5rem 1rem;
  border-radius: 5px;

  .form-head {
    background: $clr-bg-l;
    box-shadow: $bs;
    padding: 10px 2rem;
    border-radius: 10px;
  }
  .container {
    background-color: $clr-bg-l;
    box-shadow: $bs;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    transform: scaleX(1.3);
    opacity: 0;
    padding-bottom: 3px;
    animation: form-display 300ms ease forwards;
  }
  @keyframes form-display {
    to {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  .form-group {
    padding: 16px 1rem 5px;
    position: relative;

    input:active,
    input:focus {
      box-shadow: none;
      border-color: transparent;
      /* border-color: inherit; */
    }

    input:not(:placeholder-shown) ~ .input-label,
    input:active ~ .input-label,
    input:focus ~ .input-label {
      top: 4px;
      font-size: 0.9rem;
    }
    input:focus ~ .input-label {
      color: $clr-success;
    }
    input:active ~ .motion,
    input:focus ~ .motion {
      border-color: $clr-success;
      width: 100%;
    }

    input {
      border: none;
      // border: 1px solid #fff;
      background-color: transparent;
      width: 100%;
      border-radius: 0.3em;
      padding: 0;
      font-size: 0.8rem;
      font: inherit;
      color: var(--clr-white);
    }
    input::placeholder {
      opacity: 0;
    }
    input::-webkit-autofil,
    input::-webkit-autofil:focus,
    input:-webkit-autofil:active {
      background-color: transparent !important;
      -webkit-box-shadow: 0 0 0 100px inset red !important;
      border: 1px solid green !important;
      -webkit-text-fill-color: red !important;
      transition: background-color 5000s ease-in-out 0s !important;
    }
    .input:-internal-autofill-selected {
      background-color: transparent !important;
    }
    .input-label,
    .icon {
      color: $clr-text-muted;
    }
    .icon {
      margin-right: 10px;
      margin-bottom: 5px;
      width: 30px;
      font-size: 1.6rem;
    }
    .input-label {
      position: absolute;
      left: 3.5rem;
      top: 18px;
      cursor: pointer;
      transition: var(--transition);
    }
    .status-msg {
      line-height: 0.8;
      font-size: 0.9rem;
      position: absolute;
      bottom: -3px;
      left: 3.5rem;
      background-color: $clr-danger;
      color: $clr-dark;
      font-weight: 800;
      padding: 2px 1rem;
      transition: var(--transition);
    }
    input:focus ~ .status-msg {
      background-color: $clr-success;
    }
    .input-line.motion {
      width: 0%;
      transition: all 400ms ease;
      left: 50%;
      transform: translateX(-50%);
    }
    .input-line {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid $clr-pink-a;
    }
    .input-line.error {
      border-color: $clr-danger;
    }
  }
  .form_btn {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
  }
  .form_btn:hover {
    background-color: $clr-success;
    border-color: transparent;
    opacity: 1 !important;
  }
  .footer a:hover {
    color: $clr-success;
  }
}
.single_post_container {
  background-color: $clr-bg-l;
  margin-top: 5vh;

  .single__container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    .image {
      height: 250px;
      border: 1px solid $clr-white;
      border-radius: 2rem;
      text-align: center;
      box-shadow: var(--bs);
    }

    .content {
      h2 {
        margin-bottom: 0.5rem;
      }

      h4 {
        color: $clr-success;
      }
      p {
        margin: 1.1rem 0;
      }
    }
  }

  .category__container {
  }
}
